
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --primary-color:  #C1DCDC;
    --title-color: #1E1E1E;
    --nav-title-color: rgba(30, 30, 30, 0.5);
    --hover: #a2dada;
    --card-background:#c1dcdc9b;
    --secondary-card-background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    
    

  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
  }
  
  header {
   
    /* other styles for header */
    display: flex;
	align-items: center;
	padding: 2em 5em 0 5em;
    gap: 8em;
   
    
  }
  
  main {
    /* styles for main content */
    margin-top: 30px; /* set margin-top to the height of the header */
    margin-bottom: 30px; /* set margin-bottom to the height of the footer */
    flex: 1;
    display: flex;
   /*  position: relative;
    width: 100%; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #landing-page{
    display: flex;
    /* position: relative;
    width: 100%;
    border: 1px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro-wallpaper{
    position: relative;
    width: 85%;
  }
  .card-container{
    position: relative;
    width: 100%;
    margin: 3em;
    padding: 3em;
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
  }
  .best-selling{
    height: 264px;
    width: 256px;
  }
  .selling-txt{
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--title-color);


  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    gap: 5px;
    width: 168px;
    border-radius: 8px;  
    border: none;
  }
  .see-more{
    background-color: var(--primary-color);
  }
 
  .see-more:hover {
    /* background-color: var(--hover); */
    box-shadow: 0 0 10px var(--primary-color);
    cursor: pointer;
  }
  
  .see-more p{
    color: var(--title-color);
  }

  .card{
    display: flex;
    flex-direction: column;
    height: 352px;
    width: 299px;
    cursor: pointer;
  }
  .shoe-img{
    height: 261px;
    width: 299px;
    background: var(--card-background);
    border-radius: 20px;
  }

  .card .shoe-img {
    transition: transform 0.3s ease;
  }
  
  .card:hover .shoe-img {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
  }

  .shoe-name{
    color: var(--title-color);
    margin: 1.2em 0 3px 0;
    padding: 0;
  }
  .price{
    margin: 0;
    padding: 0;
  }
 
 
   .header-title {
    color: var(--title-color);
    font-family: 'Prompt';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    cursor: pointer;
   

   
}
nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
   
}
nav a {
    color: var(--nav-title-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
nav a {
    transition: all 0.3s ease;
    font-weight: 600;
  }

.active {
    color: var(--hover);
    
  }
  

.cart {
    position: relative;
    margin-left: auto;
}

.cart img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


  

.order-count {
    position: absolute;
    top: -10px;
    right: -4px;
    background-color:  none;
    color: var(--title-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }

/* 
ABOUT */
.about-us-container{
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 5em 2em 5em;
}
.about-us-container h3{
    color: rgba(30, 30, 30, 1);
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;


}
.about-desc{
    margin-bottom: 4em;
}
.mini-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.about-card{
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-card p{
    text-align: center;
}

.about-img{
    height: 96px;
    width: 96px;

}


/* FOOTER */

  .footer {
    margin-top: auto;
    padding: 1em 5em 2em 5em;
   background-color: var(--primary-color);
  }
  .top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
  }

  a {
    color: var(--nav-title-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  .footer-title{
    color: var(--title-color);
    font-family: 'Prompt';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;


  }
  p{
    color: var(--nav-title-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

  }
  .copyright{
    margin: 0;
    padding: 0;
  }

  .left-section{
    display: flex;
  }

.info{
display: flex;
flex-direction: column;
}
.mini-title{
    color: var(--title-color);
    font-weight: 700;


}

/* SECTION */
section {
  opacity: 0;
  position: relative;
  width: 100%;
  transform: translateY(20px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
 
}

section.active {
  transform: translateY(0);
  opacity: 1;
}

/* PRODUCTS */
#product-section{
  padding-top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
.category-title{
    color: rgba(30, 30, 30, 1);
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
#product-section-div{
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #C1DCDC, #C9E6E6, #D1F0F0, #E0F9F9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 10rem;
  margin-bottom: -2rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
 /*  animation: animate-border-radius 20s linear infinite; */
  /*  border-radius: 24% 76% 64% 36% / 66% 68% 32% 34% ; */
  /* border-radius: 30% 70% 70% 30% / 30% 29% 71% 70%; */
 /*  border-radius: 43% 43% 10% 37% / 43% 43% 0% 46% ; */
 /*  border-radius: 28% 43% 21% 31% / 26% 44% 0% 37% ; */
}

/* @keyframes animate-border-radius {
  0% {
    border-radius: 78% 22% 70% 30% / 33% 71% 29% 67%;
  }
  25% {
    border-radius: 10% 90% 35% 65% / 63% 39% 61% 37% ;
  }
  50% {
    border-radius: 61% 39% 17% 83% / 71% 46% 54% 29% ;
  }
  75% {
    border-radius: 10% 90% 35% 65% / 63% 39% 61% 37%;
  }
  100% {
    border-radius:  78% 22% 70% 30% / 33% 71% 29% 67% ;
  } 
}
*/

.cat-container{
  margin: 0;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  gap: 7rem;
  height: 541px;
}
.explore{
  background: white;
  width: 147px;
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* smaller box-shadow by default */
  opacity: 0.8; /* slight opacity */
}

.explore:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* larger box-shadow on hover */
  cursor: pointer;
  opacity: 1; /* full opacity */
}


.card-shoe{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 390px;
  width: 322px;
  margin: 0;
  padding: 0;
  cursor: pointer;

}
.card-shoe > p{
font-weight: 600;
}
.card-shoe .card-shoe-img {
  transition: transform 0.3s ease;
}

.card-shoe:hover .card-shoe-img {
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  
}

.card-shoe-img{
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  height: 100%;
  width: 322px;
  margin: 0;
  padding: 0;
  /* border-radius: 0 0 20px 20px; */
  border-radius: 20px;

}
#women-shoe-img{
  border-radius: 20px;
}


.type-shoe{
  height: 320px;
  width: 303px;

}

#card-women{
  align-self: center;
  border-radius: 20px;
}
#contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
   }
  
  
   .contact-container {
    text-align: center;
  }
  
  .contact-container p {
    color: rgba(30, 30, 30, 1);
    margin-bottom: 4em ;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-container form label {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: var(--nav-title-color);
  }
  
  .contact-container form input[type="text"],
  .contact-container form input[type="email"],
  .contact-container form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.25rem;
    background-color:#daf0f0 ;
  }
  
  .contact-container form textarea {
    height: 150px;
    resize: none;
  }
  
  .contact-container form input[type="submit"] {
    background-color: var(--hover);
    color: var(--title-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Poppins';
    letter-spacing: 1px;
  }
  
  .contact-container form input[type="submit"]:hover {
    box-shadow: 0 0 10px var(--primary-color);
    cursor: pointer;
  
  }
  
  .contact-container form input[type="submit"]:focus {
    outline: none;
  }
  
  .nav-cont{
    height: 150px;
  }

/* product */
#all-product-section{
  position: relative;
  width: 100%;
}
  
  .categories {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    margin: 2em;
  }
  
  .category {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    /* justify-content: center;
    flex-wrap: nowrap; */
    align-items: center;
    gap: 2rem;
    margin-bottom: 40px;
    
  }
  .categories h2{
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--title-color);
  }
  
  
  
  
  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 300px;
    gap: 0;
    margin: 1em;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;

  }
  .product:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .product:hover img {
    transform: scale(1.2);
  }
  
  .product:hover .product-overlay {
    opacity: 1;
    transform: translateY(0);
  }
  
  .product img {
    position: relative;
    margin-bottom: 3rem;
    align-self: center;
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .product .product-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
 
  
  .product h3 {
    font-weight: 500;
    margin-top: 0;
    font-size: 20px;
    color: var(--title-color);
  }
  
  .product p {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--nav-title-color);
  }
  
  .product button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
     background-color: #333333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .product button:hover {
    background-color: #F3B13E;
  }

  




/* 


  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-info {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .product-info img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-details h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .product-details p {
    margin: 0;
    font-size: 18px;
    color: #666;
  }
  
  .product-details label {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .product-details input[type="number"] {
    margin-left: 10px;
    width: 50px;
    height: 30px;
    font-size: 18px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 20px;
  }
  
  .buttons-container button {
    
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons-container button:first-child {
  background-color:    #990000 ;
  transition: background-color 0.3s ease-in-out;
}

.buttons-container button:first-child:hover {
  background-color: #FF0000;
}

.buttons-container button:last-child {
  background-color: #333333;
  transition: background-color 0.3s ease-in-out;
}

.buttons-container button:last-child:hover {
  background-color: #F3B13E;
}
 */
 .popup-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
  height: auto;
}

.product-info img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-details {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-details h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.product-details p {
  margin: 0;
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
 
}

.product-details label {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.product-details input[type="number"] {
  margin-left: 10px;
  width: 50px;
  height: 30px;
  font-size: 18px;
  color: #333;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  margin-top: 20px;
}

.buttons-container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttons-container button:first-child {
  background-color: #990000;
}

.buttons-container button:first-child:hover {
  background-color: #FF0000;
}

.buttons-container button:last-child {
  background-color: #333333;
}

.buttons-container button:last-child:hover {
  background-color: #F3B13E;
}


/* Popup styles */
.order-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
 
  
}

.order-popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family: inherit;
}

.order-close-btn {
  position: absolute;
  color: #aaa;
  right: 0px;
  top: 0px;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
 
  cursor: pointer;
}

.order-close-btn:hover,
.order-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.order-cart-item {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
 
}

.order-cart-item img {
  height: 200px;
  width: 200px;
  margin-right: 10px;
  object-fit: contain;
}

.item-info {
  flex-grow: 1;
}

.item-info h3 {
  margin: 0;
}

.item-info p {
  margin: 0;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

#order-checkout-btn {
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  background-color: #F3B13E;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#order-checkout-btn:hover {
  background-color: #fff;
  color: #F3B13E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#order-checkout-btn.disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.5;
}
.options-container{
  display: flex;
  justify-content: space-around;

}

#size-select {
  margin-left: 10px;
  margin-right: 15px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#quantity-input {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

#size {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#size option {
  font-size: 16px;
  font-weight: 500;
}


.popup-checkout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 9999;
}

.popup-checkout i {
  position: sticky;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #999;
  float: right;
}
.popup-checkout i:hover {
  color: #333;
}

.popup-checkout form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-family: inherit;
}

.popup-checkout table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  
}

.popup-checkout table thead th {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.popup-checkout table tbody td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.popup-checkout table tbody td:first-child {
  width: 70px;
}

.popup-checkout table tbody td:nth-child(2) {
  width: 150px;
}

.popup-checkout table tbody td:nth-child(3) {
  width: 70px;
}

.popup-checkout table tbody td:nth-child(4) {
  width: 70px;
}

.popup-checkout table tbody td:nth-child(5) {
  width: 100px;
}

.popup-checkout table tbody td:last-child {
  font-weight: bold;
  border-top: 2px solid #ccc;
}

.popup-checkout button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #008000;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: inherit;
}

.popup-checkout button[type="submit"]:hover {
  background-color: #006600;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}




/* styles for smaller screens */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }
  main {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
  }
}

/* styles for medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
  }
}

/* styles for larger screens */
@media screen and (min-width: 1024px) {
  main {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
  }
}



